.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 57rem;
  padding: 0 3.5rem;

  /* background: url("../../assets/services-bg.png"); */
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services .title {
  align-self: flex-start;
}
.services_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 5rem;

  gap: 3rem 6.688rem;
}

/*  pc displays -1 */

@media screen and (max-width: 1200px) {
  .services {
    height: 56rem;
  }
  .services_cards {
    gap: 2rem;
  }
}

/* tablet displays - 1 */

@media screen and (max-width: 875px) {
  .services {
    padding: 0 2rem;
  }
  .services_cards {
    flex-wrap: wrap;
  }
}
/* mobile displays - 1 */

@media screen and (max-width: 626px) {
  .services {
    padding: 0 2rem;
  }

  .services_cards {
    gap: 3rem;
  }
}
/* mobile displays - 2 */

@media screen and (max-width: 595px) {
  .services_cards {
    margin-top: 3rem;
  }
  .services {
    height: 50rem;
  }
}
@media screen and (max-width: 548px) {
  .services_cards {
    margin-top: 3rem;
  }
  .services {
    height: 68rem;
  }
}
/* mobile displays - 3 */

@media screen and (max-width: 400px) {
  .services_cards {
    margin-top: 3rem;
  }
  .services {
    height: 63rem;
  }
}
