.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 45rem;
  padding: 0 3.5rem;
  text-transform: uppercase;
  font-family: var(--font-family-montserrat);
}
.mission .title {
  align-self: flex-start;
}
.title {
  font-family: var(--font-family-montserrat);
}
.title ::selection {
  background: #000;
  color: #fff;
}
.title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;

  color: #444444;
}
.bar {
  width: 100px;
  height: 15px;
  background-color: var(--brand-yellow);
}
.mission_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission_content h1 {
  width: 740px;

  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
}
.mission_content span:first-child {
  padding: 5px 20px;
  background-color: var(--brand-yellow);
}
.mission_content span:last-child {
  color: var(--brand-yellow);
}
.mission ::selection {
  background: var(--brand-yellow);
  color: #fff;
}

/* Mini laptop */
@media screen and (max-width: 1200px) {
  .mission {
    height: 45rem;
  }
}

/* Tablet didplays - 1*/

@media screen and (max-width: 900px) {
  .mission {
    height: 41.938rem;
  }
  .title h2 {
    font-size: 28px;
  }
  .mission_content h1 {
    width: 580px;
    font-size: 50px;
    line-height: 64px;
  }
}

/* Mobile didplays - 1*/

@media screen and (max-width: 600px) {
  .mission {
    height: 30rem;
  }
  .title h2 {
    font-size: 25px;
  }
  .mission_content h1 {
    width: 350px;
    font-size: 30px;
    line-height: 44px;
  }
}
/* Mobile didplays - 2*/

@media screen and (max-width: 400px) {
  .mission_content h1 {
    width: 300px;
    font-size: 26px;
    line-height: 44px;
  }
}
/* Mobile didplays - 3*/

@media screen and (max-width: 350px) {
  .mission_content h1 {
    width: 280px;
    font-size: 24px;
    line-height: 44px;
  }
} /* Mobile didplays - 4*/

@media screen and (max-width: 300px) {
  .mission_content h1 {
    width: 255px;
    font-size: 22px;
    line-height: 44px;
  }
}
