.works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 43.75rem;

  background: #fff;
}
.works .title {
  align-self: flex-start;
  padding: 0 3.5rem;
}

.work_cards {
  display: flex;
  align-items: center;
  margin-top: 3rem;

  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-align: start;
  padding-left: calc(50% - (400px / 2));

  cursor: grab;
}

.work-wrapper {
  scroll-snap-align: start;
  margin: 15px;
}

/* Optional: Add styling for scroll indicators */
.work_cards::-webkit-scrollbar {
  display: none; /* Hide scrollbars on Chrome/Safari */
}
.portfolio_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 2rem;
  padding: 10px 15px;
  border-radius: 4px;
  background: rgba(250, 210, 47, 0.980392) 0%;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.portfolio_btn:hover {
  gap: 10px;
}
.portfolio_btn a {
  text-transform: uppercase;
  text-decoration: none;

  color: #000;
  font-size: 16px;
  font-weight: 600;

  font-family: var(--font-family-montserrat);
  transition: all 0.2s ease-in-out;
}
.navigation svg {
  transition: all 0.1s ease-in-out;
}
.navigation svg:hover {
  opacity: 74%;
  scale: 1.05;
}
/* small desktop displays */
@media screen and (max-width: 933px) {
  .works {
    height: 41.938rem;
  }
}

/* mobile displays 1*/
@media screen and (max-width: 600px) {
  .works {
    height: 35rem;
  }
  .works .title {
    padding: 0 2rem;
  }
  .portfolio_btn {
    margin-top: 1.4rem;
  }
  .portfolio_btn a {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .works {
    height: 33rem;
  }
  .portfolio_btn a {
    font-size: 13px;
  }
}
