@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;800;900&display=block");
:root {
  --font-family-bebas-neue: "Bebas Neue", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;

  --brand-yellow: #fad22f;
}
